@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  @apply m-0 p-0 box-border no-underline;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-mainBlack;
  font-family: "Kdam Thmor Pro", sans-serif, "Roboto", sans-serif;
}
